.inside-ctn:after{
	content: "";
	width: 3px;
	background-color: rgba(0,0,0,0.05);
	height: 100%;
	position: absolute;
	z-index: 100;
	left: -20px;
	top: 15px;
}
.inside-ctn{
	font-family: "segoe UI light,arial, helvetica, sans-serif,微软雅黑";
	margin: 60px 0px 0px 0px;
}
.inside-ctn span{
	line-height: 2;
	padding: 20px 0px;
	font-size: 12px;
	position: relative;
	text-align: center;
}
.archives-header:before{
	content: "";
	width: 12px;
	height: 12px;
	background-color: #999;
	position: absolute;
	left: -24.35px;
	border-radius: 50%;
	top: 22px;
}
.inside-ctn h3{
	margin: 50px 0px;
	position: relative;
}
.inside-ctn h3:before{
	content: "";
	width: 10px;
	height: 10px;
	background-color: #AAA;
	position: absolute;
	left: -23.5px;
	top: 8px;
	border-radius: 50%;
}
.archives-item{
	position: relative;
	padding: 10px 0px;
	margin: 10px 0px;
	left: -15px;
	border-bottom: 1px dashed #CCC;
	transition: all ease-in-out 0.3s; 
}
.archives-item:hover{
	border-color: #777;
}
.archives-item:before{
	content: "";
	width: 8px;
	height: 8px;
	background-color: #CCC;
	position: absolute;
	left: -7.3px;
	top: 20.5px;
	border-radius: 50%;
	transition: all ease-in-out 0.3s;
}
.archives-item:hover:before{
	background-color: #777;
}
.archives-item span{
	font-size: 14px;
	padding: 0;
}
.archives-item-time{
	margin-right: 7px;
	font-size: 12px !important;
	padding-left: 15px !important;
}
.archives-item-title{
	cursor: pointer;
}
.catelog-ctn{
	position: absolute;
	right: 10px;
	top: 20px;
	list-style: none;
	text-decoration: none;
	background-color: #F6F6F6;
	text-align: center;
	padding: 20px 20px;
}
.catelog-ctn p{
	font-size: 15px;
}
.catelog-ctn li{
	list-style: none;
	font-size: 14px;
	font-weight: 100;
	line-height: 2;
	padding: 0;
	margin: 0;
	font-family: "segoe UI light,arial, helvetica, sans-serif,微软雅黑";
	cursor: pointer;
}
.catelog-ctn li:hover{
	border-bottom: 1px dashed #000000;
}
.catelog-ctn ul{
	padding: 0;
}
.active{
	color: #985F0D;
	border-bottom: 1px dashed #000000;
}