
body,
html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #F1F1F1;
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.iconfont {
	font-size: 14px;
}

@media only screen and (max-width: 1200px) {
	.nav-list {
		display: none;
	}
	.text-container {
		left: 0 !important;
		width: auto !important;
		padding: 0 10% !important;
	}
	.blog-copyright{
		padding-left: 0px !important;
	}
}

/* .left-container {
	height: 100%;
	padding: 0;
	position: fixed;
	z-index: 1000;
	background-color: #F5F5F5;
	opacity: 0;
	/*border-left: 3px solid #3692C5;
	outline: 4px double #3283B0;
	outline-offset: 2px;
	overflow: hidden;
	box-shadow: -6px 0px 5px 1px #B7DAD3;
	border-right: 5px solid #FFFFFF;
	outline: 6px double #F4F4F4;
} 

.left-nav {
	height: 100%;
	position: absolute;
	z-index: 1000;
	background-color: #C1E2B3;
	box-shadow: -9px 0px 8px 10px #777777;
	width: 45px;
}

.left-pic {
	padding: 0;
	height: 100%;
	background-image: url(../img/bg-blog.jpg);
	background-position-x: 70%;
	background-size: cover;
}

.navbar-title:after {
	position: absolute;
	padding: 0;
	margin-right: 10px;
	float: right;
	max-width: 260px;
	background-color: white;
}

.navbar-title {
	position: relative;
	color: wheat;
	right: 0;
	float: right;
	margin-top: 20px;
	margin-right: 10px;
	font-size: 15px;
	line-height: 20px;
}

.navbar-title span {
	font-size: 16px !important;
}

.navbar-title span:first-child {
	color: #D0E9C6;
	font-family: "agency fb";
}

.navbar-tip {
	position: absolute;
	bottom: 0;
	right: 0;
	float: right;
	margin-bottom: 40px;
	margin-right: 40px;
	font-size: 16px;
	line-height: 16px;
	color: #C7DDEF;
	cursor: default;
}*/

.text-item-post {
	display: block;
	overflow: hidden;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
	padding: 0;
	opacity: 0.5;
	margin: 0;
	left: 0;
	top: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


.text-container {
	margin: 0 auto;
	position: relative;
	overflow-y: hidden;
	width: 960px;
	visibility: hidden;
	background-color: #FAF8FE;
	padding: 0px 130px;
	left: 100px;
	border-right: #FFFFFF 5px solid;
	outline: 6px double #F4F4F4;
	opacity: 0;
	min-height: 800px;
}

.text-body {
	height: 100%;
	overflow: hidden;
	position: relative;
	margin: 0;
}


/*.text-body li:before{
	content: "";
	height: 1px;
	width: 100%;
	background-color: #9400D3;
	opacity: 0.2;
	font-size: 1px;
	position: absolute;
	top: -20px;
	line-height: 1;
}*/

.list-item {
	position: relative;
	margin-bottom: 40px;
}

.list-item:first-child {
}


/*.list-item:after{
	content: "";
	width: 100%;
	font-size: 1px;
	line-height: 1;
	height: 1px;
	background-color: #9400D3;
	position: absolute;
	bottom: -10px;
	opacity: 0.5;
	right: 0.6%;
}*/

.list-group a {
	text-decoration: none;
	outline: none;
	background-color: rgba(255,255,255, 0.4);
	border: 1px solid rgba(173, 255, 47, 0.4);
	border-radius: 5%;
	padding: 5px 10px;
	color: #245269;
}

.list-group h3 {
	margin: 0;
	padding: 20px 10px;
	font-size: 19px;
}

.list-group span {
	cursor: default;
	font-size: 14px;
	line-height: 1;
	font-weight: 300;
}

.article-info {
	padding-left: 10px;
	font-size: 16px;
	font-family: "微软雅黑";
	line-height: 1;
	white-space: nowrap;
	width: 350px;
	box-sizing: border-box;
}

.text-body-item {
	border-left: 10px solid #00B7FF;
	border-radius: 0%;
	background-color: rgba(255, 255, 255, 0.9);
	filter: Alpha(opacity=50);
	cursor: pointer;
	position: relative;
	box-shadow: 0px 3px 10px #555555;
}

.text-body-item:first-child {
	margin-top: 20px;
}

.text-body-item:last-child {
	margin-bottom: 20px;
}

.text-item-firstsee {
	position: absolute;
	vertical-align: middle;
	width: 30%;
	height: 100%;
	top: 0;
	background-color: rgba(0, 0, 0, 0.6);
	right: 0;
	line-height: 1.6;
	color: #F0E68C;
	overflow: hidden;
	line-break: normal;
	padding: 20px 15px;
	margin: 0;
	border-top-right-radius: 4%;
	border-bottom-right-radius: 4%;
}

.text-item-firstsee span {
	font-size: 13px;
}

.text-show-body {
	width: 100%;
	/*padding: 20px 10px;*/
	max-height: 0px;
	min-height: 0px;
	overflow: hidden;
	border-bottom: 1px solid #080808;
	border-right: 1px solid #080808;
	/*outline: #1B6D85 ridge 5px;*/
	border-left: #1B6D85 solid 10px;
	margin-top: 1px;
	font-size: 13px;
	line-height: 2;
	opacity: 0;
	position: relative;
}

.text-show-body p {
	padding-left: 10px;
	line-break: normal;
}

.text-show-body img {
	max-height: 500px;
	max-width: 500px;
	margin-bottom: 20px;
	margin-left: 22%;
	display: inline-block;
}

.article-show-btn {
	width: 70px;
	height: 25px;
	background-color: #FFFFFF;
	outline: #000000 dashed 2px;
	stroke-dasharray: 50 20;
	text-align: center;
	margin-left: 43%;
	margin-right: 40%;
	line-height: 1;
	font-size: 13px;
	padding-top: 5px;
	cursor: pointer;
	box-shadow: 1px 1px 10px #222222;
}

.text-box {
	background-color: rgba(255, 255, 255, 0.6);
	padding: 30px 10px;
	margin-top: 10px;
}

.nav-list {
	position: fixed;
	left: 290px;
	width: 200px;
	height: 100%;
	background-color: #F5F5F5;
	/*border-left: 3px solid #3692C5;
	outline: 4px double #3283B0;
	outline-offset: 2px;
	overflow: hidden;
	box-shadow: -6px 0px 5px 1px #B7DAD3;*/
	border-left: 5px solid #FFFFFF;
	border-right: 5px solid #FFFFFF;
	outline: 6px double #F4F4F4;
	opacity: 0;
	top: 0;
}


/*.nav-list:before{
	content: ">>>";
	position: absolute;
	font-size: 14px;
	color: #000000;
	line-height: 2;
	font-weight: 600;
	font-family: "微软雅黑";
	top: 50%;
}*/

.welcome-ctn {
	position: relative;
	margin: 0;
	display: block;
	width: 90%;
	height: 20%;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #FAFAFA;
	font-family: "Lato", "微软雅黑";
	font-size: 16px;
	padding: 20px 37px;
	border: 1px solid #C7DDEF;
	color: #23527C;
	display: none;
	overflow: hidden;
}

.welcome-ctn p:first-child {
	margin-bottom: 15%;
}

.welcome-ctn p {
	width: 100%;
	text-align: center;
	font-size: 14px;
}
.welcome-ctn p:first-child {
	margin-bottom: 15%;
	font-size: 16px;
}

.articlelist-ctn {
	width: 90%;
	margin-top: 10%;
	margin-left: 5%;
	margin-right: 5%;
	height: 45%;
	background-color: #FAFAFA;
	font-family: "Lato", "微软雅黑";
	font-size: 15px;
	/*border: 1px solid #67B168;*/
	border-top: 1px solid #67B168;
	border-bottom: 1px solid #67B168;
	display: none;
	overflow: hidden;
}

.icon-ctn {
	width: 90%;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	height: 27%;
	/*background-color: #FAFAFA;*/
	font-family: "Lato", "微软雅黑";
	font-size: 15px;
	/*border: 1px solid #CE8483;*/
	position: relative;
	display: none;
	overflow: hidden;
}

.articlelist-list {
	list-style: none;
	width: 100%;
	padding: 0;
	position: relative;
	height: 100%;
	padding-top: 20.5%;
	/*outline: inset 1px #1B6D85;*/
}

.articlelist-item {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	min-height: 13%;
	margin-bottom: 10%;
	background-color: #F5F5F5;
	padding-top: 7px;
	border-left: 3px solid;
	border-right: 3px solid;
	position: relative;
	cursor: pointer;
	transition: border-color ease-in-out 0.3s;
}


.articlelist-item:nth-child(1) {
	border-color: #D6E9C6;
}

.articlelist-item:nth-child(2) {
	border-color: #F0E68C;
}

.articlelist-item:nth-child(3) {
	border-color: #FAEBCC;
}

.articlelist-item:nth-child(4) {
	border-color: #D9EDF7;
}

.articlelist-item:nth-child(5) {
	border-color: #DDDDDD;
}

.articlelist-item span {
	font-size: 14px;
	padding: 0px 15px;
	color: rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
}
.articlelist-item span:hover{
	color: rgba(0, 0, 0, 0.7);
}
.articlelist-item span i {
	font-size: 12px;
	line-height: 1;
	margin-right: 2px;
}

.icon-body {
	margin-left: 3.5%;
	height: 100%;
	width: 100%;
}

.icon-ctn span {
	width: 45%;
	min-height: 13%;
	display: inline-block;
	text-align: center;
	font-size: 13px;
	background-color: #F1F1F1;
	cursor: pointer;
}
.icon-ctn span:hover{
	background-color: #F6F6F6;
}

.icon-person-show {
	font-size: 16px;
	width: 80%;
	margin-left: 10%;
	padding-bottom: 10%;
	min-height: 20px;
	padding-top: 20%;
	text-align: center;
	font-family: segoe UI light;
	position: relative;
	display: none;
}

.icon-person-show div {
	border-top: 1px dotted #000000;
	border-bottom: 1px dotted #000000;
}
.page-control{
	font-size: 13px;
	font-family: "arial, helvetica, sans-serif";
	text-align: center;
	vertical-align: middle;
	margin-top: 100px;
	padding: 20px 0px;
}
.page-control a{
	cursor: pointer;
	padding: 5px 10px;
	text-decoration: none;
	color: #000000;
	transition: border-color ease-in-out 0.3s;
	border-top: 1px solid #FFFFFF;
}
.page-control a:hover{
	border-top: 1px solid #122B40;
}
.page-control span{
	font-size: 13px;
}
.page-number{
	background-color: #CCCCCC;
	padding: 5px 10px;
}
.next-page-number,.last-page-number{
	background-color: #FFFFFF;
}
.space{
	padding: 5px 2px;
}
.next-page{
	background-color: inherit;
	padding: 3px 7px !important;
	margin-left: 5px;
	font-size: 15px;
}
.next-page i{
	font-style: normal;
}
.blog-copyright{
	text-align: center;
	padding-left: 180px;
	margin: 30px 10px;
	font-size: 12px;
}
.blog-copyright p{
	color: #AAAAAA;
	font-family: "arial, helvetica, sans-serif,segoe UI light";
}
.blog-copyright a{
	color: #000000;
	border-bottom: 1px solid #000000;
	font-size: 12px;
	text-decoration: none;
	cursor: pointer;
}
.blog-copyright a:hover{
	color: #122B40;
}