html{
	visibility: hidden;
}
html,body{
	width: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #F1F1F1;
}
.itembody-ctn{
	margin: 0 auto;
	position: relative;
	overflow-y: hidden;
	width: 960px;
	background-color: #FAF8FE;
	padding: 0px 110px;
	left: 100px;
	border-right: #FFFFFF 5px solid;
	outline: 6px double #F4F4F4;
	min-height: 800px;
}
@media only screen and (max-width: 1200px) {
	.nav-list{
		display: none !important;
	}
	.itembody-ctn{
		width:auto ;
		left: 0px;
	}
	.blog-copyright{
		padding-left: 0px !important;
	}
	.catelog-ctn{
		display: none;
	}
}
.inside-ctn{
	height: 100%;
	min-height: 100px;
	position: relative;
	opacity: 0;
}
.blog-copyright{
	text-align: center;
	padding-left: 180px;
	margin: 30px 10px;
	font-size: 12px;
	bottom: 0;
}
.blog-copyright p{
	color: #AAAAAA;
	font-family: "arial, helvetica, sans-serif,segoe UI light";
}
.blog-copyright a{
	color: #000000;
	border-bottom: 1px solid #000000;
	font-size: 12px;
	text-decoration: none;
	cursor: pointer;
}
.blog-copyright a:hover{
	color: #122B40;
}
